html
  head
    title Phil's Holiday
    link(rel='stylesheet', href='/static/normalize.css')
    link(rel='stylesheet', href='/static/index.css')
  body
    h1
        a(href='https://philslist.co.uk') Phil's Holiday

    iframe(src='https://www.google.com/maps/d/embed?mid=1NhmvRZdC13U4-J7kftPKr_oNGMNYwOc&ehbc=2E312', height='1080')
    p contact@philslist.co.uk

    h2 Places to Visit
    h3 Munich
    ul
        li Marienplatz
        li Stachus Square
        li English Garden - Surfing Riverli Viktualienmarkt
        li Asamkirche
        li Royal Palace (Munich Residenz)
    h3 Innsbruck
    h3 Scheffau
    ul
        li Hexenwasser Theme Park
        li Hohe Salve	Hohe Salve
        li Salvenkirchlein chapel
        li Sonnenweg trail
        li Ellmi’s Magic World
        li Kaiserbad swimming pool
        li Climbing & spa centre
        li Krimml Waterfalls
        li World of Water Krimml
        li Torchlight hike 
        li Alpinolino Westendorf
        li Filzalmsee Brixen
        li Hintersteiner See
        li Kaiser Welt
        li Kitzbühel Historic Town
        li Astberg Mountain
        li Pony Alm Astberg
        li Astberglake	Astbergsee
        li Cycle Path St Johann -  Wörgl Bahnhof
        li Climbing Location Ellmau Kletterhalle
    h3 Zell am See
    ul
        li Magic Lake Show Zell am See Elisabethpark
        li Grossglockner High Alpine Road
        li Kaiser-Franz-Josefs-Höhe
        li Sigmund Thun Klamm Gorge
        li Klammsee Kaprun	Klammsee
        li Zell am See Boat Trip Esplanade
        li Maiskogel Mountain
        li Maisi Flitzer Alpine Coaster
        li Schmittenhöhe Mountain
        li Dragon Trail Schmittenhöhe
        li E-Motocross Schmittenhöhe
    h3 Flachau
    ul
        li Hallstatt Village
        li Hallstatt Lake Viewpoint
        li Hallstatt Marktplatz
        li Skywalk Hallstatt
        li Hallstatt Salt Mine (Salzwelten)
        li Reitecksee bathing lake
        li Mini Golf Flachau
        li Farm/Petting Zoo Flachau
        li Eisriesenwelt Ice Caves
    h3 Salzburg
    ul
        li Mirabell Palace and Gardens
        li Old Town Salzburg
        li Getreidegasse
        li Mozart's Birthplace
        li Hohensalzburg Fortress
        li FestungsBahn Funicular
        li Herbert-von-Karajan-Platz
        li Pferdeschwemme (Horse Pond)
        li St. Peter's Abbey
        li Residenzplatz Square and Fountain
        li Marionette Theatre
        li Augustiner Bräu
        li DomQuartier Salzburg
        li Kapitelplatz
        li Stiftsbäckerei St. Peter






